<div class="col-md-4 col-md-offset-4">
    <h2>编辑发表过的文章</h2>

    <hr>
    <%= form_for @post do |f| %>

    组名
    <%= f.text_field :groupname %>
    <br>
    内容
    <br>
    <%= f.text_area :content %>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
